/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header {
  background-image: url(../images/cover-image-dark.png);
  display: grid;
}
.header::after {
  
}
.header__theme-menu-button {
  border: none;
  background-color: inherit;
  color: var(--accent-color);
  text-align: center;
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
}
.header__theme-menu-button_active {
  border: 1px solid var(--accent-color)
}
.header__theme-menu-list {
  gap: 10px;
}
.header-title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; 
}
.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-family: IBM Plex Mono, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  max-inline-size: 94.7vw;;
}